@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-brand-posi-1: hsl(163, 72%, 41%);
  --color-brand-nega-2: hsl(356, 69%, 56%);

  --color-border-facebook: hsl(208, 92%, 53%);
  --color-border-twitter: hsl(203, 89%, 53%);
  --color-border-insta-1: hsl(37, 97%, 70%);
  --color-border-insta-2: hsl(329, 70%, 58%);
  --color-border-youtube: hsl(348, 97%, 39%);

  /* Dark Mode */
  --dark-color-toggle-bg: linear-gradient(
    100deg,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --dark-color-hover-bg: hsl(229, 14%, 28%);

  --dark-color-site-1: hsl(230, 17%, 14%);
  --dark-color-site-1-top: hsl(232, 19%, 15%);
  --dark-color-site-card: hsl(228, 28%, 20%);
  --dark-color-brand-1: hsl(228, 34%, 66%);
  --dark-color-brand-2: hsl(0, 0%, 100%);

  /* Light Mode */
  --light-color-toggle-bg: hsl(230, 22%, 74%);
  --light-color-hover-bg: hsl(240, 17%, 80%);

  --light-color-site-1: hsl(0, 0%, 100%);
  --light-color-site-1-top: hsl(225, 100%, 98%);
  --light-color-site-card: hsl(227, 47%, 96%);
  --light-color-brand-1: hsl(228, 12%, 44%);
  --light-color-brand-2: hsl(230, 17%, 14%);

  --font-inter: "Inter", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

html {
  font-size: 62.5%;
}

.dark {
  --light-color-toggle-bg: var(--dark-color-toggle-bg);
  --light-color-hover-bg: var(--dark-color-hover-bg);

  --light-color-site-1: var(--dark-color-site-1);
  --light-color-site-1-top: var(--dark-color-site-1-top);
  --light-color-site-card: var(--dark-color-site-card);
  --light-color-brand-1: var(--dark-color-brand-1);
  --light-color-brand-2: var(--dark-color-brand-2);
}

main {
  padding: 3rem 2rem;
  background: linear-gradient(
    var(--light-color-site-1-top) 30%,
    var(--light-color-site-1) 30%
  );
}

.HeaderTitle {
  font-size: 2.5rem;
  color: var(--light-color-brand-2);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.HeaderPara {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--light-color-brand-1);
  font-weight: 700;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--light-color-brand-2);
  padding-bottom: 2rem;
}

.Header > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  text-transform: capitalize;
  gap: 2rem;
  color: var(--light-color-brand-1);
  font-weight: 700;
  margin-bottom: 4rem;
}

.check {
  appearance: none;
  width: 4.5rem;
  height: 2.2rem;
  background: var(--light-color-toggle-bg);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.check:hover {
  background: var(--dark-color-toggle-bg);
}

.check::before {
  content: "";
  position: absolute;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--light-color-site-1);
  border-radius: 50%;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}

.check:checked:before {
  left: 0.3rem;
  right: auto;
}

.FirstWrapper,
.SecondWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin: 2rem 0;
}

.Title {
  font-size: 3rem;
  margin: 3rem 0;
  color: var(--light-color-brand-1);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .HeaderPara {
    border-bottom: none;
  }

  .FirstWrapper,
  .SecondWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  }
}
